.sidebar {
  background: #f8f8f8;
  padding: 20px 15px 0;
  @media (min-width: 550px) { padding: 20px 50px 0 }
  @media (min-width: 1000px) { padding: 50px 15px 0 }

}

.sidebar h5 {
  margin: 0 0 0 20px
}
.sidebar hr {
  margin: .5rem 20px 0
}

.search-filters {
  padding: 0 20px;
  margin-top: 0
}

.search-filters dt {
  position: relative;
  font-size: 16px;
  padding: 15px 10px 8px;
  cursor: pointer;
  clear: both;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.search-filters dt:hover {
  background: #fff
}

.feed-name {
  float: left;
  margin: 5px 0 0
}

.feed-count {
  float: right;
  font-size: 15px;
  border-radius: 100px;
  background: #2A2A28;
  color: #fff;
  line-height: 2.5;
  width: 35px;
  height: 35px;
  text-align: center
}

.terms {
  font-size: 13px;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  color: #666
}
.terms a {
  font-size: 13px;
  color: #999
}
.terms a:hover {
  text-decoration: underline
}
.terms .terms-tout a {
  color: #E8BA7D;
  font-size: 16px
}
.terms hr {
  margin: 5px 0
}
.terms-tout {
  font-size: 16px
}
