.sidebar {
  background: #f8f8f8;
  padding: 0 15px;
  @media (min-width: 550px) { padding: 0 50px }
  @media (min-width: 1000px) { padding: 0 0 50px 0 }
}

.sidebar h5 {
  padding: 30px 20px;
  text-align: center;
  font-size: 24px;
  @media (min-width: 1000px) {
    padding: 50px 40px 40px;
    text-align: left;
    font-size: 2.4rem;
  }
}

.sidebar .clear-filter {
  float: right;
  text-transform: uppercase;
  padding-right: 10px;
  &:hover { text-decoration: none; }
}

.search-filters {
  // padding: 0 20px;
  margin-top: 0;
  a {
    display:block;
    cursor: pointer;
    position: relative;
    clear: both;
    font-size: 16px;
    padding: 15px 20px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media (min-width: 1000px) { padding: 15px 40px; }
  }
  a:hover,
  .active {
    border-left: 1px solid #8BA4D0;
    border-right: 1px solid #8BA4D0;
    background: #fff; }
}

.feed-name {
  float: left;
  line-height: 40px;
  text-transform: uppercase;
}

.feed-count {
  float: right;
  font-size: 14px;
  border-radius: -21%;
  line-height: 38px;
  width: 30px;
  text-align: center;
  border: 1px solid #DDD;
}

.active .feed-count {
  border: 1px solid #8BA4D0;
}

.sidebar-box {
  font-size: 13px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  color: #666;
  @media (min-width: 1000px) { margin: 20px; }
}
.sidebar-box a {
  font-size: 13px;
  color: #999;
}
.sidebar-box a:hover {
  text-decoration: underline
}
.sidebar-box-main a {
  font-size: 16px;
  font-weight: bold;
  color: #5376B6;
}
.sidebar-box hr {
  margin: 5px 0
}
.sidebar-box-main {
  font-size: 16px
}
