.sidebar {
  background: #f8f8f8;
  padding: 20px 15px 0;
  @media (min-width: 550px) { padding: 20px 50px 0 }
  @media (min-width: 1000px) { padding: 50px 0 0 }

}

.sidebar h5 {
  margin: 0 0 0 20px
}
// .sidebar hr { margin: .5rem 20px 0 }

.sidebar .clear-filter {
  float: right;
  margin: 0 41px 0 0;
  font-size: 14px;
  line-height: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-filters {
  // padding: 0 20px;
  margin-top: 0;
  a {
    display:block;
    position: relative;
    font-size: 16px;
    padding: 15px 10px 8px;
    cursor: pointer;
    clear: both;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);

    position: relative;
    font-size: 16px;
    padding: 15px 40px 8px;
    padding-bottom: 15px;
    cursor: pointer;
    clear: both;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  a:hover,
  .active {
    border-left: 1px solid #8BA4D0;
    border-right: 1px solid #8BA4D0;
    background: #fff; }
}

.feed-name {
  float: left;
  line-height: 40px;
  text-transform: uppercase;
}

.feed-count {
  float: right;
  font-size: 14px;
  border-radius: -21%;
  line-height: 38px;
  width: 30px;
  text-align: center;
  border: 1px solid #DDD;
}

.active .feed-count {
  border: 1px solid #8BA4D0;
}

.terms {
  font-size: 13px;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  color: #666
}
.terms a {
  font-size: 13px;
  color: #999
}
.terms a:hover {
  text-decoration: underline
}
.terms .terms-tout a {
  color: #E8BA7D;
  font-size: 16px
}
.terms hr {
  margin: 5px 0
}
.terms-tout {
  font-size: 16px
}
