<div class="digest-subscribe">
  Get Watchville everyday in your inbox!
  <span>
    <input placeholder="Your Email" name="digest" type="text">
    <button>Join</button>
    <a class="ignore-digest">×</a>
  </span>
</div>
