<div class="nine columns" id="header">
  <a href="/" tabindex=1>
    <%= svg "logo" %>
  </a>
  <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
    <input class="search typeahead tt-input" placeholder="<%= t(:search) %>" name="q" type="text" autocomplete="off" spellcheck="false" dir="auto" tabindex=2 style="position: relative; vertical-align: top; background-color: transparent;">
  </span>

</div>

<div class=" header-nav">

  <% if @page_name == "index" %>
    <a href="javascript:_scrollTo('categories', 200)"
      tabindex=3
      class="header-nav-link header-nav-categories">
      <%= t(:categories) %>
    </a>
  <% end %>

  <a href="/o-nama.html" class="header-nav-link" tabindex=3><%= t(:about_us) %></a>
</div>

