<div class="nine columns">
  <a href="/" tabindex=1>
    <%= svg "logo" %>
  </a>
  <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
    <input class="search typeahead tt-input" placeholder="Search" name="q" type="text" autocomplete="off" spellcheck="false" dir="auto" tabindex=2 style="position: relative; vertical-align: top; background-color: transparent;">
    </span>

</div>

<div class="three columns header-nav">
  <a href="/o-nama.html" class="header-nav-link" tabindex=3>O sajtu</a>
</div>
