<div class="nine columns">
  <a href="#">
    <%= svg "logo" %>
  </a>
  <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
    <input class="search typeahead tt-input" placeholder="Search" name="q" type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
    </span>

</div>

<div class="three columns header-nav">
  <a href="#" class="header-nav-link">O sajtu</a>
</div>
