<div class="three columns sidebar">
  <h5>Filter by Source</h5>
  <hr>

  <dl class="search-filters">

    <dt>
      <div class="feed-name">aBlogToWatch</div>
      <div class="feed-count">2512</div>
    </dt>

    <dt>
      <div class="feed-name">Monochrome</div>
      <div class="feed-count">703</div>
    </dt>

    <dt>
      <div class="feed-name">HODINKEE</div>
      <div class="feed-count">667</div>
    </dt>

    <dt>
      <div class="feed-name">Fratello Watches</div>
      <div class="feed-count">602</div>
    </dt>

    <dt>
      <div class="feed-name">Worn &amp; Wound</div>
      <div class="feed-count">537</div>
    </dt>

    <dt>
      <div class="feed-name">Watches by SJX</div>
      <div class="feed-count">342</div>
    </dt>

    <dt>
      <div class="feed-name">Revolution</div>
      <div class="feed-count">284</div>
    </dt>

    <dt>
      <div class="feed-name">Perpetuelle</div>
      <div class="feed-count">279</div>
    </dt>

    <dt>
      <div class="feed-name">Quill &amp; Pad</div>
      <div class="feed-count">257</div>
    </dt>

    <dt>
      <div class="feed-name">Deployant</div>
      <div class="feed-count">195</div>
    </dt>

  </dl>

  <div class="terms">
    <div class="terms-tout">
      <b>Want More Watchville?</b> <br>
      Stay up-to-date by following us on
      <a href="http://twitter.com/watchville">Twitter</a> and
      <a href="http://instagram.com/watchville">Instagram</a>
    </div>
    <hr>
    <a href="/terms-of-service">Terms of Service</a>  and
    <a href="/privacy-policy">Privacy Policy</a>
  </div>

</div>
