<div class="three columns sidebar"
     ng-controller="CategoriesController as catCtrl"
     ng-init="catCtrl.init()">

   <h5 id="categories">
     Kategorije
     <a href class="clear-filter"
       ng-click="catCtrl.openCategory({slug: null})"
       ng-hide="catCtrl.activeCategory({slug: ''})">×</a>
   </h5>
  <hr>

  <dl class="search-filters">

    <dt ng-repeat="category in catCtrl.categories track by $index"
        ng-class="{active: catCtrl.activeCategory(category)}"
        ng-click="catCtrl.openCategory(category)"
        ng-keydown="$event.which === 13 && catCtrl.openCategory(category)" >
      <a ng-href="#{{category.slug}}">
        <div class="feed-name">{{category.title}}</div>
        <div class="feed-count">{{category.count}}</div>
      </a>
    </dt>

  </dl>

  <div class="sidebar-box">
    <div class="sidebar-box-main">
      <b>Want More Utisak?</b><br>
      Stay up-to-date by following us on
      <a href="http://twitter.com/utisak_">Twitter</a> and
      <a href="http://instagram.com/#">Instagram</a>
    </div>
    <hr>
    <a href="/terms-of-service">Terms of Service</a>  and
    <a href="/privacy-policy">Privacy Policy</a>
  </div>

</div>
