<div class="nine columns main-content">

  <%= partial "digest" %>

  <h5>Latest</h5>
  <hr>

  <div class="article">
    <div class="article-share">
      <div class="article-share-content">
        <ul class="share-buttons">
          <li>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://api.watchville.co/v2/posts/16803/click">
              <div class="share-icon facebook"></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/intent/tweet?source=https://api.watchville.co/v2/posts/16803/click&amp;text=BEST%20FROM%3A%20aBlogtoWatch%20%26%20Friends%20June%2019%2C%202015%20https%3A%2F%2Fapi.watchville.co%2Fv2%2Fposts%2F16803%2Fclick&amp;via=watchville">
              <div class="share-icon twitter"></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="http://pinterest.com/pin/create/button/?url=https://api.watchville.co/v2/posts/16803/click&amp;description=BEST%20FROM%3A%20aBlogtoWatch%20%26%20Friends%20June%2019%2C%202015">
              <div class="share-icon pinterest"></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="mailto:?subject=%5BWatchville%5D%20BEST%20FROM%3A%20aBlogtoWatch%20%26%20Friends%20June%2019%2C%202015&amp;body=Check%20out%20this%20link%20I%20found%20on%20Watchville%3A%0A%0ABEST%20FROM%3A%20aBlogtoWatch%20%26%20Friends%20June%2019%2C%202015%0Ahttps%3A%2F%2Fapi.watchville.co%2Fv2%2Fposts%2F16803%2Fclick">
              <div class="share-icon mail"></div>
            </a>
          </li>
        </ul>

        <div class="article-share-close">
          <span>Close</span>
        </div>
      </div>
    </div><!-- .article-share -->

    <div class="article-image">
      <div class="article-thumb">
        <a target="_blank" rel="nofollow" href="https://api.watchville.co/v2/posts/16803/click">
          <img src="./index_files/a5174be3b6a23f13d9c92a91654353fb">
        </a>
      </div>
    </div><!-- .article-image -->

    <div class="article-meta">
      <div class="article-title">
        <a target="_blank" rel="nofollow" href="https://api.watchville.co/v2/posts/16803/click">BEST FROM: aBlogtoWatch &amp; Friends June 19, 2015</a>
      </div>
      <div class="article-description">
        Omega is held in high regard in many circles because they have been
        making concerted efforts toward improving the chronometric performance,
        reliability, and efficient of their movements. This began in earnest in 1999,
        when they launched...
      </div>

      <div class="article-author">
        <a target="_blank" rel="nofollow" href="https://api.watchville.co/v2/posts/16803/click">aBlogToWatch</a>
          3 hours ago <!-- dot spacer --> · <!-- dot space -->
        <span>
          <span class="article-stats">
            401 views<!-- dot spacer --> · <!-- dot space --> 36 reading
          </span>
        </span>
      </div>

      <div class="share">
        <a href="#">Share</a>
      </div>
    </div><!-- .article-meta -->

  </div><!-- .article- -->

  <%= partial "digest" %>

  <div class="load-more">Load More Stories</div>
</div>

<%= partial "sidebar" %>
