<div class="row">
  <div class="nine columns about-content">
    <h1 class="u-txt-center" id="utisak">O utisku</h1>
    <p class="u-txt-center">
      (Poslednja izmena: <%= File.mtime(current_page.source_file).strftime("%d %b, %Y") %>)
    </p>

    <p>
      Utisak je servis za pronalaženje i praćenje najaktuelnijih vesti u bilo kom
      trenutku ma gde se nalazili.
    </p>

    <p>
      Prvenstveno je nastao iz potrebe za brzim i jednostavnim pronalaženjem vesti
      koje su zaista vredne pažnje i pomena, u moru nekvalitetnog sadržaja. Za
      razliku od svih drugih medija na utisku se korisnici pitaju, i samo od njih
      zavisi da li neka vest zaista zaslužuje pažnju i u kojoj meri. Bez reklama,
      uređivačke politike ili neke druge skrivene pozadine, samo vesti koje znače
      onima koji ih čitaju.
    </p>

    <p>
      Servis je za sada u fazi beta razvoja i konstantno se radi na usavršavanju, a u
      planu su mnoga poboljšanja i dodaci koji će olakšati korišćenje i obogatiti
      iskustvo svih korisnika.
    </p>

    <p>
      Izvorni kod utiska je dostupan pod open source licencom, stoga ako ste
      zainteresovani da zavirite "ispod haube" i pomognete pri razvoju utiska to vrlo
      lako i možete. Više informacija uskoro.
    </p>

    <h2 id="autor">
      <a class="anchor" href="#autor" style="font-size: 50%">#</a> Autor
    </h2>

    <div class="row">
      <div class="u-txt-center">
        <div style="margin: 30px 0">
          <img style="border: 2px solid #CCC; padding: 5px;"
            src="https://gravatar.com/avatar/fa34e7e679484fc691571d126d948787.png?s=200&amp;d=mm" alt="Aleksandar Diklic">
        </div>

        <h3><a href="https://twitter.com/lesa_ns">Aleksandar Diklic</a></h3>
      </div>

      <p>
        Ljubitelj kafe, pešačenja i dobre muzike, u konstantoj borbi sa bitovima.
        Po zanimanju programer trenutno zaposlen u firmi
        <a href="http://renderedtext.com/">Rendered Text</a>, timu koji stoji iza alata
        za kontinualnu integraciju <a href="https://semaphoreci.com/">Semaphore CI</a>.
        Utisak doživljava kao hobi koji nikada neće dobiti svoj početak i kraj.
      </p>
    </div>

    <h2 id="kontakt">
      <a class="anchor" href="#kontakt" style="font-size: 50%">#</a>
      Kontakt
    </h2>

    <p>Uskoro.</p>

    <h2 id="uslovi">
      <a class="anchor" href="#uslovi" style="font-size: 50%">#</a>
      Uslovi korišćenja
    </h2>

    <p>Uskoro.</p>

  </div>

  <div class="three columns sidebar">
    <dl class="search-filters">

      <dt class="u-flex-table category">
        <a href="#utisak" class="u-flex-table-item u-flex-table-item-primary category-title" tabindex=4>
          <div class="feed-name">O utisku</div>
        </a>
      </dt>

      <dt class="u-flex-table category">
        <a href="#autor" class="u-flex-table-item u-flex-table-item-primary category-title" tabindex=4>
          <div class="feed-name">Autor</div>
        </a>
      </dt>

      <dt class="u-flex-table category">
        <a href="#kontakt" class="u-flex-table-item u-flex-table-item-primary category-title" tabindex=4>
          <div class="feed-name">Kontakt</div>
        </a>
      </dt>

      <dt class="u-flex-table category">
        <a href="#uslovi" class="u-flex-table-item u-flex-table-item-primary category-title" tabindex=4>
          <div class="feed-name">Uslovi korišćenja</div>
        </a>
      </dt>

    </dl>

  </div>
</div>
