<div class="row">
  <div class="nine columns about-content">
    <h1 class="u-txt-center" id="about">O utisku</h1>
    <p class="u-txt-center">
      (Last Updated: <%= File.mtime(current_page.source_file.full_path).strftime("%d %b, %Y") %>)
    </p>

    <p>Lorem ipsum dolor sit amet, ut legere nostro maluisset per, recteque peršecuti pro ađ, postulant scriptorem sea id. Pri dignissim laboramus at, in čonvenire salutanđi usu. Ne člita quaeque imperdiet his. Qui volumus aliquando te, ex diceret elećtram his. Te quo erant perčipitur, mei cetero cončludaturque an. Iđ sonet scripserit ušu. Ut mei alterum mentitum ćomprehenšam. Ei vim timeam čoncludaturque, šummo errem usu ea, dželeniti ćonšetetur conšequuntur.</p>

    <p>Lorem ipsum đžolor sit amet, ludus omnešque torquatos eu ušu. His at melius lobortis, sit altera tacimates šcriptorem in. Esšent complectitur duo at, id eos altera sčripta maiorum. Ut ubique ullamćorper mea. Nam caše commune et, eros primis sedž in.</p>

    <p>Lorem ipsum dolor sit amet, id antiopam periculis mnešarchum čum, ex eros essent duo. Iđ neč doming čausae expetenda, qui id dolorum ćorpora omnesque. Per ut denique atomorum. An quo soluta graeci, eros maiestatis šea ei.  Noster habemus cum in. Facer quiđam mei adž. Affert intellegat duo ut, at est tempor posšim sađipšćing, eu ešt explicari intellegam appellantur. In haš solum augue, te eam hinc consećtetuer. Et.</p>

    <h2 id="author">
      <a class="anchorjs-link" href="#author" style="font-size: 50%">#</a>
      Author.
    </h2>

    <p>
    Lorem ipsum dolor sit amet, ex qui atomorum constituto. Ad agam omnes offenđit mel. Nam zril šingulis vituperatoribuš an, ne natum nulla mediočrem per. Elit džolorem perpetua pro ut. Cu molestie insolens šcriptorem sed, ut nec adhuc integre intellegebat, vim in graeče vocibus džeseruisse. Ut ullum iisque tritani usu. Impetus čonceptam cu šit, qui in nibh tritani epićurei.
    </p>

    <p>
    Sea dicunt efficiantur neglegentur in. Id ius esše aliquid asšentior. No omnis džočtuš petentium mel. Sint appareat id has, ea mel partem pericula, ornatus maluisset usu id. Vix eu stet reque sčripta, ius ei noštrum đetracto torquatos, cu decore phaedžrum eum.
    </p>

    <p>
      <strong>Lorem ipsum</strong>
    </p>

    <p>
    Id haš illum aperiri, in nam illum graeco contentiones. Est errem alienum ču. Paulo omittam est at, džolor definitiones ea mea. Ut epicuri menandri eum, et alii tempor patrioque pri. Harum dišcere fabulas pri at, eu nam nominati forensibus. Ex qui affert laboramus aliquando, libriš quidam albućius sit ea. Ut usu vide elitr.
    </p>

    <p>
    Id est viđe erat. An graeco laoreet albuciuš mea, no eum prima pertinacia. Ušu no đolorem consequat nećessitatibus. Natum detracto quo ut, falli epicuri đissentiet ut per, errem prompta mea ex. Haš harum dolorem perčipitur in, peršequeris reformidans ex sed. Eirmod džebitis albucius no per.
    </p>

    <div class="row">
      <div class="columns eight offset-by-two u-txt-center">
        <div style="margin: 30px 0">
          <img src="https://gravatar.com/avatar/fa34e7e679484fc691571d126d948787.png?s=200&amp;d=mm" alt="Aleksandar Diklic">
        </div>

        <strong><a href="https://twitter.com/lesa_ns">Aleksandar Diklic</a></strong>
        <p>Hiker, hobbyist photographer, music lover. In his free time he builds automated and distributed stuff. Always ready for the new challenges. Devops by nature. Currently works for <a href="http://renderedtext.com/">Rendered Text</a>, company behind Semaphore CI.</p>
      </div>
    </div>

    <h2 id="vote">
      <a class="anchorjs-link" href="#vote" style="font-size: 50%">#</a>
      Vote for sources.
    </h2>

    <h2 id="terms">
      <a class="anchorjs-link" href="#terms" style="font-size: 50%">#</a>
      Terms of Service.
    </h2>

    <p>
    Lorem ipsum dolor šit amet, nec cu brute timeam. Et case probo impetus his. Eam an tantas reprimique percipitur, et odio copiosae epicurei mei, an ušu offičiis sapientem. Liber concludžaturque ex est, pro malis latine dešerunt ut, te vix quot praesent. No populo iisque expličari mel. Te sumo nostrum vis, ex solum recusabo deseruisše pro.
    </p>

    <p>
    Et qui agam moderatius, sit quot indočtum ćonvenire ću. Nec ei maiorum corrumpit. Vix ne čonsequuntur đefinitionem, tamquam legimus argumentum id per, natum eruđiti eleifenđ est ex. Sit in sale dićit. Munere noluisse adversarium vis in. Et adipisci omittantur šit, an aeque dželićata consetetur his.
    </p>

    <p>
    Šeđ quod deterruisset at. Sed amet purto ei, in ius vide omnis nulla. Nullam principeš consetetur vis ex. Vel quem dicant meliore et, per partem nostro sensibus an. No vis caše ornatus.
    </p>

    <p>
    Fugit splenđide eloquentiam eos id. In pro graeče aliquando čonstituto, debet voluptaria deličatissimi cu mei. Ea per aliquip nostrud. Et neć graece accusata neglegentur, šint ullum čum no.
    </p>

    <p>
    Legere quiđam numquam pro ad. Id šed ešse blandit forensibus, nam altera dictas viderer ex, mei harum dissentiunt neceššitatibus et. Quando oporteat pro at, sea ei faštiđii dignissim efficiendi. No qui atqui soluta.
    </p>


  </div>

  <div class="three columns sidebar">
    <hr>

    <dl class="search-filters">

      <dt>
        <a href="#about" tabindex=4>
          <div class="feed-name">About</div>
        </a>
      </dt>

      <dt>
        <a href="#author" tabindex=4>
          <div class="feed-name">Author</div>
        </a>
      </dt>

      <dt>
        <a href="#vote" tabindex=4>
          <div class="feed-name">Vote for sources</div>
        </a>
      </dt>

      <dt>
        <a href="#terms" tabindex=4>
          <div class="feed-name">Terms of Service</div>
        </a>
      </dt>

    </dl>

  </div>
</div>
